@{
    //------------------------------------------------------------------------------
    //       时间： 2017-03-28 09:13:51
    //       作者： 蔡捷
    //
    //       文件： Base_Procedure_Parameters.cshtml 页面文件
    //------------------------------------------------------------------------------
    ViewBag.Title = "存储过程参数";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
<style type="text/css">
    #toolbar1, #toolbar2 {
        border-bottom: none;
    }

    .table_content {
        width: 100%;
        background: #fff;
        border: none;
    }

        .table_content td {
            border-bottom: 1px solid #ccc;
        }

            .table_content td.td_title {
                width: 90px;
                text-align: center;
                font-size: 12px;
                font-weight: bold;
                background: #fafafa;
                border-right: 1px solid #ccc;
            }

    .textbox, .textbox-text {
        border: none;
        border-radius: 0px;
        box-shadow: none;
        margin: 0px;
        padding: 0px;
    }

    .textbox-fucused {
        box-shadow: none;
    }
</style>
}

@section scripts{

    <script src="~/Areas/sys/ViewJS/Base_Procedure_Parameters.js?v=@ViewBag.ts"></script>
    @*<script type="text/javascript">
        var model_string = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))';
        km.model = JSON.parse(model_string);

        km.pageSize = @ViewBag.Settings["gridrows"];
    </script>*@
}

<div class="easyui-layout" data-options="fit:true" style=" overflow:hidden;">
    <div id="north_panel" data-options="region:'north',border:false">
        <div id="km_toolbar" class="km_toolbar">

        </div>

        <div id="km_toolbar_2" class="km_toolbar" style="display:none">
            <a id="toolbar_delete" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-undo'" title="@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "cancel")" onclick="km.toolbar.do_undo();">@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "cancel")</a>
            <a id="toolbar_save" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'" title="@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "save")" onclick="km.toolbar.do_save();">@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "save")</a>
        </div>

    </div>
    <div id="west_panel" data-options="region: 'west',title:'',border:true,split:true" style="width: 60%;border-bottom: none; border-left: none;  ">

        <table id="Base_Procedure_Parametersgrid"></table>
    </div>

    <div id="main_panel" data-options="region: 'center',title:'',border:true" style="padding: 0px; border-bottom: none; ">
        <form id="Base_Procedure_Parameters_content" class="form_content" method="post">

            <input id='TPL_id' name='id' type='hidden' value='0' />
            <table class="table_content" cellpadding="3" cellspacing="0" border="0">
                <tr><td class="td_title">@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "stored procedure name") </td> <td> <input id='TPL_procedure_name' name='procedure_name' class="easyui-combobox" url2='proc' data-options="valueField:'name',textField:'name',editable:true,hasDownArrow:true,panelHeight:290, " style="width:350px;"></td></tr>
                <tr><td class="td_title">@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "parameter") </td> <td> <input id='TPL_parameter_name' name='parameter_name' class="easyui-combobox" url3='parameters' data-options="valueField:'name',textField:'name',editable:true,hasDownArrow:true,panelHeight:190, " style="width:350px;"></td></tr>
                <tr style="display:none"><td class="td_title">@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "parameter type")</td> <td>  <input id='TPL_parameter_type' data-options="" name='parameter_type' type='text' class='easyui-textbox' style='width:100px' /></td></tr>
                <tr style="display:none"><td class="td_title">@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "length")</tdclass> <td>  <input id='TPL_max_length' data-options="" name='max_length' type='text' class='easyui-textbox' value="0" style='width:150px' /></td></tr>
                <tr style="display:none">
                    <td class="td_title">@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "ouput flag") </td>
                    <td>
                        <select id='TPL_is_out' name='is_out' class="easyui-combobox" data-options="editable:false,hasDownArrow:false,panelHeight:90" style="width:150px;">
                            <option value='0'>@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "input")</option>
                            <option value='1'>@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "output")</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="td_title">@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "from where") </td>
                    <td>
                        <select id='TPL_from_where' name='from_where' class="easyui-combobox" data-options="editable:false,hasDownArrow:true,panelHeight:90" style="width:100px;">
                            <option value='session'>session</option>
                            <option value='param'>param</option>
                            <option value='data'>data</option>
                        </select>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
