@{
    //------------------------------------------------------------------------------
    //       时间： 2017-09-19
    //       作者： 蔡捷
    //			 				新角色管理，使用新的程序生成器
    //       文件： role_admin.cshtml 页面文件
    //------------------------------------------------------------------------------

    ViewBag.Title = "角色管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@section head{
    <style type="text/css">
        #toolbar1, #toolbar2 {
            border-bottom: none;
        }

        .table_content {
            width: 100%;
            background: #fff;
            border: none;
        }

            .table_content td {
                border-bottom: 1px solid #ccc;
            }

                .table_content td.td_title {
                    width: 90px;
                    text-align: center;
                    font-size: 12px;
                    font-weight: bold;
                    background: #fafafa;
                    border-right: 1px solid #ccc;
                }

        .textbox, .textbox-text {
            border: none;
            border-radius: 0px;
            box-shadow: none;
            margin: 0px;
            padding: 0px;
        }

        .textbox-fucused {
            box-shadow: none;
        }
    </style>
}

@section scripts{
    <script src="~/Areas/sys/ViewJS/role_admin.js?v=@ViewBag.ts"></script>
    <script type="text/javascript">
    @*var model_string = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))';
    km.model = JSON.parse(model_string);
    km.pageSize = @ViewBag.Settings["gridrows"];*@
    var   gButtons = @Html.Raw(ViewData["list_all_buttons"]);

    </script>
}

<div class="easyui-layout" data-options="fit:true" style=" overflow:hidden;">
    <div id="north_panel" data-options="region:'north',border:false">
        <div id="km_toolbar" class="km_toolbar"> </div>
        <div id="km_toolbar_2" class="km_toolbar" style="display:none">
            <a id="toolbar_delete" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-undo'" title="@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "cancel")" onclick="km.toolbar.do_undo();">@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "cancel")</a>
            <a id="toolbar_save" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'" title="@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "save")" onclick="km.toolbar.do_save();">@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "save")</a>
        </div>
    </div>
    <div id="main-panel_a" data-options="region: 'west',border:true" style='width: 50%;'>

        <table id="role"></table>

    </div>
    <div id="main-panel_b" data-options="region: 'center',border:true" style='width: 50%;'>


        <form id="role_content" class="form_content" method="post">
            <table class="table_content" cellpadding="3" cellspacing="0" border="0">
                <input id='TPL_id' name='id' type='hidden' value='0' />

                <tr><td class="td_title">@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "role code")</td> <td>  <input id='TPL_role_code' data-options="required:true" name='role_code' type='text' class='easyui-textbox' style='width:500px' /></td></tr>

                <tr><td class="td_title">@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "role name")</td> <td>  <input id='TPL_role_name' data-options="required:true" name='role_name' type='text' class='easyui-textbox' style='width:500px' /></td></tr>
                <tr>
                    <td class="td_title">@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "role type") </td>
                    <td>
                        <select id='TPL_role_type' name='role_type' class="easyui-combobox" data-options="required:true,editable:false,hasDownArrow:false,panelHeight:90" style="width:100px;">
                            <option value='0'>@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "undefined")</option>
                            <option value='1'>@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "system role")</option>
                            <option value='2'>@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "business role")</option>
                            <option value='3'>@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "other role")</option>
                        </select>
                    </td>
                </tr>

                <tr><td class="td_title">@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "sort")</td> <td>  <input id='TPL_sort' data-options="" name='sort' type='text' class='easyui-textbox' style='width:100px' /></td></tr>
                <tr>
                    <td class="td_title">@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "enabled") </td>
                    <td>
                        <select id='TPL_enabled' name='enabled' class="easyui-combobox" data-options="editable:false,hasDownArrow:false,panelHeight:90" style="width:100px;">
                            <option value='0'>@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "no")</option>
                            <option value='1'>@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "yes")</option>
                        </select>
                    </td>
                </tr>

                <tr><td class="td_title">@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "comments")</td> <td>  <input id='TPL_remark' data-options="" name='remark' type='text' class='easyui-textbox' style='width:500px' /></td></tr>

                @*<tr><td class="td_title">@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "add_by")</td> <td>  <input id='TPL_add_by' data-options="" name='add_by' type='text' class='easyui-textbox' style='width:100px' /></td></tr>

                    <tr><td class="td_title">@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "add_on")</td> <td>  <input id='TPL_add_on' data-options="" name='add_on' type='text' class='easyui-textbox' style='width:160px' /></td></tr>*@
            </table>
        </form>

    </div>
</div>Set permissions
<div style='display:none'>
    <div id="selectRoles" class="easyui-dialog" title="        @MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "Set permissions")" style="width: 1200px; height: 600px; "
    data-options="iconCls:'icon-save',resizable:true,modal:true,closed:true,onOpen:function(){
    //LoadData()
    },
    buttons:[
    @*{
            text:'增加',
            handler:function(){  SaveSelectedButtons();}
        },*@
    {
    text:'关闭',
    handler:function(){ $('#selectRoles').dialog('close');}
    }]">
    <table id="maingrid"></table>
</div>
    </div> 
