@if (ViewBag.navigation == "menubutton")//横向菜单模式
{
    <div region="north" class="layout_north" split="false" border="false">
        <div class="layout_north_menu">
            <div id="wnav" class=".wnav"></div>
        </div>
        <div class="layout_north_right">
            <a href="javascript:void(0)" class="easyui-menubutton" data-options="menuAlign:'right',iconCls:'icon-user',menu:'#mm_user'">当前登录用户：@ViewBag.LoginUser</a>
            <div id="mm_user" style="width:120px; display:none">
                <div data-options="iconCls:'icon-standard-note'" class="myself">个人信息</div>
                @*<div data-options="iconCls:'icon-standard-cog'" class="myconfig">个性化设置</div>*@
                <div data-options="iconCls:'icon-edit'" class="changepwd">修改密码</div>
                <div class="menu-sep"></div>
                <div data-options="iconCls:'icon-standard-cancel'" class="loginOut">安全退出</div>
            </div>
        </div>
    </div>
}
else//手风琴或者树形结构菜单模式
{
    <div id="north_panel" region="north" class="layout_north" split="false" border="false">
        <div class="layout_north_left">
            @*<img src="~/Content/images/km_logo_easyui.png" style="height:60px" />*@ 
            <div class="Title">@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "site_name")</div>
        </div>
        <div class="layout_north_right" style="margin-top:18px">

            <div class="language">
                <select id='TPL_language' name='language' onchange="changeLanguage()" style="width:150px;"> 
                </select>
            </div>
            <div class="login_info">

                <a href="javascript:void(0)" class="easyui-menubutton" data-options="menuAlign:'right',iconCls:'icon-standard-user',menu:'#mm_user'">@ViewBag.LoginUser</a>
                <div id="mm_user" style="width:120px; display:none">
                    <div data-options="iconCls:'icon-standard-note'" class="myself">@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "user_info")</div>
                    @*<div data-options="iconCls:'icon-standard-cog'" class="myconfig">个性化设置</div>*@
                    <div data-options="iconCls:'icon-edit'" class="changepwd">@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "chage_pwd")</div>
                    <div class="menu-sep"></div>
                    <div data-options="iconCls:'icon-standard-cancel'" class="loginOut">@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "logout")</div>
                </div>
            </div>
        </div>

    </div>
    <div id="west_panel" region="west" split="true" title="@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"],"menu_bar")" minwidth="30" maxwidth="200" style="width: 200px;">
        <div id="wnav">
            <div style="text-align: center; "><img src="~/Content/images/ajax-loader.gif" /><br>@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "loading_menu_bar")</div>
        </div>
    </div>
}

<div id="south_panel" region="south" split="false" class="layout_south">
    <div class="layout_south_footer">Copyright &copy; 2017,CJ All Rights Reserved &nbsp;版本：@ViewBag.SystemVersion<span id="span_checklogin"></span></div>
</div>

<div id="main_panel" region="center" style="background: #eee; padding:0; overflow-y:auto">
    <div id="tabs" class="easyui-tabs" fit="true" border="false" data-options="tools:'#tab-tools'" style=" padding:0">
        @*<div id="home" title="主页" style="overflow:hidden;"></div>*@
    </div>
</div>
<div id="tab-tools" style=" border-top:none; border-right:none">
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-standard-arrow-refresh'" title="@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"],"reresh_tab")" onclick="wrapper.tabRefresh();"></a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-standard-shape-group'" title="@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"],"open_tab_new")" onclick="wrapper.jumpOpen();"></a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-standard-arrow-out'" title="@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"],"full_screen")" onclick="wrapper.setFullScreen(this);"></a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-standard-cross'" title="@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"],"close_all_tab")" onclick="wrapper.tabCloseAll();"></a>
</div>
@*修改密码弹出窗体*@
<div id="div-password-edit">
    <form id="form-password-edit" name="form-password-edit" style="font-size: 12px; width: 300px; margin: 0 auto; padding: 5px; box-shadow: 0 0 30px #DDDDDD;">
        <table cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse; width: 100%; margin: 0 auto; box-shadow: 0 0 30px #DDDDDD;">
            <tr>
                <td style="border: 1px #DDDDDD solid; padding-left: 5px; width: 80px; height: 32px;">
                    
                    @MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "current_user")
                </td>
                <td style="border: 1px #DDDDDD solid; padding-left: 5px;">
                    @ViewBag.LoginUser
                </td>
            </tr>
            <tr>
                <td style="border: 1px #DDDDDD solid; padding-left: 5px; width: 80px; height: 32px;">
                    @MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "new_pwd")
                   
                </td>
                <td style="border: 1px #DDDDDD solid; padding-left: 5px;">
                    <input id="newpassword" name="newpassword" class="easyui-textbox" data-options="type:'password'" value="" style="width: 98%; height: 25px;" />
                </td>
            </tr>
            <tr>
                <td style="border: 1px #DDDDDD solid; padding-left: 5px; width: 100px; height: 32px;">
                    
                    @MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "confirm_new_pwd")
                </td>
                <td style="border: 1px #DDDDDD solid; padding-left: 5px;">
                    <input id="confirmpassword" name="confirmpassword" class="easyui-textbox" data-options="type:'password'" value="" style="width: 98%; height: 25px;" />
                </td>
            </tr>
        </table>
    </form>
</div>

<script>
    window.onload = function () {
        if ($("#nav")) {
            $("#wnav").children('div:first-child').css('display', 'none')
        }
    }
</script>