
@{ 
//------------------------------------------------------------------------------ 
//       时间： 2018-04-18
//       作者： fdsaf   
//			 				测试模块, 仅仅用于测试 
//       文件： test_only.cshtml 页面文件
//------------------------------------------------------------------------------
 
    ViewBag.Title = "test_only";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <style type="text/css">

    </style>
}

@section scripts{
    <script src="~/Areas/dev/ViewJS/test_only.js?v=@ViewBag.ts"></script>
    <script type="text/javascript">
    //    var model_string = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))';
    //    km.model = JSON.parse(model_string);
        //   km.pageSize = @ViewBag.Settings["gridrows"];
        //@ViewData["MenuCodeAlias"] ;
    </script>
}

<div class="easyui-layout" data-options="fit:true" style=" overflow:hidden;">
    <div id="north_panel" data-options="region:'north',border:false" style="background-color: #f3f3f3;">
        <div class="km_toolbar">
            <div id="km_toolbar" style="float:left;"></div><div id="km_toolbar2" style="float:left;"></div>
        </div>
        <div id="km_toolbar_2" class="km_toolbar" style="display:none">
            <a id="toolbar_delete" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-undo'" title="@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "cancel")" onclick="km.toolbar.do_undo();">@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "cancel")</a>
            <a id="toolbar_save" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'" title="@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "save")" onclick="km.toolbar.do_save();">@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "save")</a>
        </div>
    </div>
    <div id="main-panel_a" data-options="region: 'west',border:true" style='width: 50%;'>

        <table id="department"></table>

    </div>
    <div id="main-panel_b" data-options="region: 'center',border:true" style='width: 50%;'>

        <table id="my_user"></table>
    </div>
</div>
<div style='display:none'>


    <div id="my_user_dialog">




        <form id="my_user_content" class="form_content" method="post">
            <table class="table_content" cellpadding="3" cellspacing="0" border="0">
                <input id='TPL_id' name='id' type='hidden' value='0' />

                <tr><td class="td_title">@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "add_on")</td> <td>  <input id='TPL_add_on' data-options="" name='add_on' type='text' class='_easyui-textbox' style='width:230px' /></td></tr>

                <tr><td class="td_title">@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "add_by")</td> <td>  <input id='TPL_add_by' data-options="" name='add_by' type='text' class='_easyui-textbox' style='width:100px' /></td></tr>

                <tr><td class="td_title">@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "user_name")</td> <td>  <input id='TPL_user_name' data-options="" name='user_name' type='text' class='_easyui-textbox' style='width:500px' /></td></tr>

                <tr><td class="td_title">@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "password")</td> <td>  <input id='TPL_password' data-options="required:true," name='password' type='text' class='_easyui-textbox' style='width:500px' /></td></tr>

                <tr><td class="td_title">email</td> <td>  <input id='TPL_email' data-options="" name='email' type='text' class='_easyui-textbox' style='width:500px' /></td></tr>

                <tr><td class="td_title">@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "name")</td> <td>  <input id='TPL_name' data-options="" name='name' type='text' class='_easyui-textbox' style='width:150px' /></td></tr>

                <tr><td class="td_title">@MyUIHelper.Get((System.Data.DataTable)ViewData["dictionary"], "department_id")</td> <td>  <input id='TPL_department_id' data-options="" name='department_id' type='text' class='_easyui-textbox' style='width:100px' /></td></tr>
            </table>
        </form>



    </div>


</div>
